/*--------------------------------------------------------------
  Constants
----------------------------------------------------------------*/

:root {
  --white: #ffffff;
  --dark: #000a14;
}

.App {
  padding: 20px;
}
