/*--------------------------------------------------------------
  Constants
----------------------------------------------------------------*/

:root {
  --white: #ffffff;
  --dark: #000a14;
}

body {
  margin: 0;
}

.App {
  padding: 0;
  width: 100%;
  height: 100%;
}
